.Holder {
  max-width: 400px;
  width: 35vh;
  min-width: 300px;
  height: 40vh;
  min-height: 200px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #fffaed;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0px 0px #fffaed;
  transition: background-image 0.2s ease-in-out;
  background-size: cover;
}

.test {
  background-image: url("../../images/projects/placeholder.jpg");
}

.portfolio {
  background-image: url("../../images/projects/portfolio.png");
}

.HOI4 {
  background-image: url("../../images/projects/uk.png");
}

/* this is so stupid this is the only way I've found to transition faded backgrounds*/


.Holder:hover .fadeHolder2 {
  opacity: 0;
}

.Holder:hover .fadeHolder {
  opacity: 1;
}


.fadeHolder {
  border-radius: 10px;
  height: 40vh;
  max-width: 400px;
  width: 35vh;
  min-width: 300px;
  position: absolute;
  min-height: 200px;
  transition: opacity 0.2s;
  z-index: 2;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 100%, 0.242)
  );
  opacity: 0;
}

.fadeHolder2 {
  border-radius: 10px;
  height: 40vh;
  max-width: 400px;
  width: 35vh;
  min-width: 300px;
  position: absolute;
  min-height: 200px;
  transition: opacity 0.2s;
  z-index: 2;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0) 50%,
    hsl(0, 0%, 0%)
  );
  opacity: 1;
}

.ContentWrapper {
  padding-bottom: 20px;
  margin-top: auto;
  z-index: 5;
}

.TagWrapper {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.MiniTitle {
  font-family: "Roboto Mono", monospace;
  padding-left: 20px;
  font-size: 50px;
  font-weight: 1000;
}
