.Tag {
  color: #160828;
  font-family: "Roboto Mono", monospace;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 15px;
  border-radius: 5px;
  width: fit-content;
  padding: 4px 8px;
  font-weight: 400;
}
