.background {
  background-repeat: no-repeat;
  background-size: 6500px;
  height: 100vh;
  min-height: 1000px;
  background-position: center bottom;
}

.MainHome {
  background-image: url("../../images/backgrounds/Background1.svg");
  background-color: #160828;

}

.ProjectsPage {
  background-image: url("../../images/backgrounds/Background3.svg");
  background-color: #160828;

}

.AboutPage {
  background-image: url("../../images/backgrounds/Background2.svg");
  height: fit-content;
  background-color: #492b7c;
}

.ExperiencePage {
  background-image: url("../../images/backgrounds/Background4.svg");
  height: 110vh;
  background-color: #492b7c;
  min-height: 110rem;
}

.titleProject {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 1000;
  font-size: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 768px) {
  .ExperiencePage {
    height: 200vh;
  }
  .titleProject{
    font-size: 40px;
  }
}
