.MainHome {
  background-image: url('../../images/backgrounds/Background1.svg');
  background-repeat: no-repeat;
  background-size: 6500px;
  height: 100vh;
  margin: 0;
}

.SkillsPage {
  background-image: url('../../images/backgrounds/Background2.svg');
  background-repeat: no-repeat;
  background-size: 6500px;
  height: 100vh;
  margin: 0;
}