.About {
  color: #fffaed;
  width: fit-content;
  padding-top: 100px;
  margin: auto;
}

.Title {
  font-family: "Roboto Mono", monospace;
  font-size: 65px;
}

.Text {
  max-width: 80vh;
  margin-right: 40px;
  margin-left: 40px;
}
