.Experience {
  color: #fffaed;
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
  font-family: "Roboto Mono", monospace;
  background-color: #2c3e50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Break {
  border: 0;
  height: 1px;
  background: #fffaed;
  margin: 20px 0;
}

.employment,
.qualification {
  display: flex;
  align-items: flex-start;
  background-color: #34495e;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 8px;
  border: 2px solid #fffaed;
}

.employmentDetails,
.qualificationDetails {
  max-width: 800px;
}

.SubTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #fffaed;
}

.Date {
  font-size: 16px;
  color: #ecf0f1;
  margin: 5px 0 15px;
}

.Text {
  font-size: 16px;
  line-height: 1.6;
  margin: 10px 0;
}

.Highlights {
  list-style-type: disc;
  margin: 10px 0 0 20px;
  padding: 0;
}

.Highlights li {
  margin-bottom: 10px;
  font-size: 16px;
}

.titleProjectNoBreak {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 1000;
}

.ExperienceTitle {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .About {
    padding: 20px 10px;
    background-color: #ffffff00;
  }

  .logo {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .employment,
  .qualification {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .employmentDetails,
  .qualificationDetails {
    max-width: 100%;
    text-align: center;
  }

  .SubTitle {
    font-size: 20px;
  }

  .Date,
  .Text,
  .Highlights li {
    font-size: 14px;
  }

  .Highlights {
    list-style-type: none;
    padding: 0;
  }
}
