.Projects {
  color: #fffaed;
  padding-top: 0px;
  margin: auto;
  width: 80%;
}

.titleProject {
  text-align: center;
  padding-bottom: 50px;
  font-family: "Roboto Mono", monospace;
  font-weight: 1000;
}

.noBottom{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.ButtonWrapper {
  float: right;
  margin-top: 10px;
}

@media screen and (max-width: 400px) {
  .titleProject {
    font-size: 45px;
  }
}

@media screen and (min-width: 750px) {
  .titleProject {
    font-size: 85px;
  }
}
