.background {
  background-color: #003049;
  color: #EAE2B7;
}

.focusContent {
  display: flex;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.nameTitle {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  font-weight: 500;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Links {
  display: flex;
  margin-left: auto;
  margin: auto;
}

.Link {

}